* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
.wrapper {
	width: 90%;
    margin: 0 auto;
    max-width: 1400px;
}
p{
	font-family:'Work Sans Regular';
	font-size: 15px;
}
a,b,h6,h2,h3,h4,h5{
	font-family:'Work Sans Regular';
}
h1{
    font-family:'Work Sans ExtraBold';
}

@font-face {
    font-family:'Work Sans Bold';
		src:url('../fonts/Work Sans Bold.woff2') format('woff2'),
		url('../fonts/Work Sans Bold.woff') format('woff');	
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}
@font-face {
    font-family:'Work Sans ExtraBold';
		src:url('../fonts/Work Sans ExtraBold.woff2') format('woff2'),
		url('../fonts/Work Sans ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}
@font-face {
    font-family:'Work Sans Light';
		src:url('../fonts/Work Sans Light.woff2') format('woff2'),
		url('../fonts/Work Sans Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}
@font-face {
    font-family:'Work Sans Regular';
		src:url('../fonts/Work Sans Regular.woff2') format('woff2'),
		url('../fonts/Work Sans Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}
@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?3382555');
    src: url('../fonts/fontello.eot?3382555#iefix') format('embedded-opentype'),
         url('../fonts/fontello.woff2?3382555') format('woff2'),
         url('../fonts/fontello.woff?3382555') format('woff'),
         url('../fonts/fontello.ttf?3382555') format('truetype'),
         url('../fonts/fontello.svg?3382555#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }
    [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: never;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    }
.icon-ok:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */


header{
	height: 130px;
	align-items: center;
	display: flex;
	justify-content: space-between;
}
header section.wrapper {
    max-width: 1600px;
}
/* header section.wrapper{
    width: 85%;
} */
header h1.left{
	width: 200px;
}
header span.menu-icon img{
    width: 100%;
}
 header h1.left a img{
	width: 100%;
	display: block;
}
 header h1.left a{
	display: inline-block;
}
 header nav.right{
    display: flex;
    align-items: center;
}
 header nav.right ul{
    display: flex;
    align-items: center;
    margin-right: 55px;
}
 header nav.right ul li{
	margin-right: 30px;
}
 header nav.right ul li:last-child{
	margin-right: 0;
}
 header nav.right ul li a{
	color: #384563;
    display: inline-block;
    font-size: 20px;
}
 header nav.right div.buttons a.button{
    padding: 15px 21px;
    background-color: #fff;
	border-radius: 30px;
    color: #000;
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
}
 header nav.right div.buttons a.button1{
    display: inline-block;
    padding: 15px 33px;
    text-transform: uppercase;
    background-color: #FEEDE7;
    border-radius: 30px;
    color: #FF4802;
    font-size: 20px;
    font-weight: bold;
}
#spotlight {
    background-image: url(../images/chick.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 138px 0 191px 0;
}
#spotlight section.wrapper {
    max-width: 1600px;
}
#spotlight section.wrapper  h1{
    font-size: 73px;
    font-family: 'Work Sans Bold';
    color: #233253;
    margin-bottom: 45px;
    text-transform: capitalize;
}
#spotlight section.wrapper  a.button{
    display: inline-block;
    padding: 15px 50px;
    background-color: #FF4802 ;
	border-radius: 30px;
    color: #fff;
    font-size: 20px;
}
#brands{
    text-align: center;
    padding-top: 110px;
}
#brands section.wrapper div.top{
    margin-bottom: 120px;
}
#brands section.wrapper div.top p{
    color: #233253;
    font-size: 33px;
    font-weight: bold;
}
#brands section.wrapper div.bottom h3{
    color: #233253;
    font-size: 42px;
    font-weight: bold;
    text-transform: capitalize;
}
#brands section.wrapper div.bottom ul{
    display: flex;
    justify-content: space-between;
    height: 200px;
    align-items: center;
}
#brands section.wrapper div.bottom ul li{
    width: 11%;
} 
#brands section.wrapper div.bottom ul li a{
    display: inline-block;
}
#brands section.wrapper div.bottom ul li a img{
    width: 100%;
    display: block;
}
#service{
    padding: 110px 0 110px 0;
}
#service section.wrapper ul{
    display: flex;
    justify-content: space-between;
}
#service section.wrapper ul li{
    width: 29%;
}
#service section.wrapper ul li span{
    width: 120px;
    height: 120px;
    box-shadow: 0 0px 37px 0 rgba(0, 0, 0, 0.1), 0px 0 0 0px rgba(0, 0, 0, 0.1);
    display: flex;
    border-radius: 70px;
    align-items: center;
    justify-content: center;
    padding: 25px;
}
#service section.wrapper ul li  span img{
    width: 100%;
    display: block;
}
#service section.wrapper ul li h4{
    color: #233253;
    font-weight: bold;
    font-size: 28px;
    margin: 23px 0 20px 0;
    text-transform: capitalize;
}
#service section.wrapper ul li p{
    color: #233253;
    font-size: 20px;
    margin-bottom: 30px;
}
#service section.wrapper ul li a.button{
    display: inline-block;
    color: #FF4802;
    font-size: 20px;
    font-weight: bold;
}
#about{
    background-color: #F5FAFE;
    padding: 110px 0 110px 0;
}
#about section.wrapper {
    max-width: 1600px;
}
#about section.wrapper h2{
    color: #233253;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
}
#about section.wrapper ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#about section.wrapper ul li.zoom {
    transition: transform .2s;
}
#about section.wrapper ul li.zoom:hover {
    box-shadow:10px 50px 20px rgba(0, 0, 0, 0.1); 
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1);
}
#about section.wrapper ul li.zoom{
    width: 32%;
    padding: 40px 25px 40px 25px;
    box-sizing: border-box;
    background-color: #fff;
    text-align: center;
    margin-bottom: 30px;
}
#about section.wrapper ul li.zoom:nth-child(4){
    margin-bottom: 0;
}
#about section.wrapper ul li.zoom:nth-child(5){
    margin-bottom: 0;
}
#about section.wrapper ul li.zoom:nth-child(6){
    margin-bottom: 0;
}
#about section.wrapper ul li.zoom span{
    width: 120px;
    height: 120px;
    box-shadow: 0 0px 37px 0 rgba(0, 0, 0, 0.1), 0px 0 0 0px rgba(0, 0, 0, 0.1);
    display: flex;
    margin: 0 auto;
    border-radius: 70px;
    align-items: center;
    justify-content: center;
    padding: 25px;
}
#about section.wrapper ul li.zoom span img{
    display: block;
    width: 100%;
}
#about section.wrapper ul li.zoom h4{
    color: #263555;
    font-weight: bold;
    font-size: 25px;
    margin: 23px 0 20px 0;
    text-transform: capitalize;
}
#about section.wrapper ul li.zoom p{
    color: #263555;
    font-size: 20px;
}
#solution{
    padding: 110px 0 110px 0;
}
#solution section.wrapper div.top{
    text-align: center;
}
#solution section.wrapper div.top h2 {
    color: #233253;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
}
#solution section.wrapper div.top p{
    color: #233253;
    font-size: 22px;
    margin: 20px 0 54px 0;
}
#solution section.wrapper div.bottom{

}
#solution section.wrapper div.bottom ul{
    display: flex;
    justify-content: space-between;
}
#solution section.wrapper div.bottom ul li {
    width: 30%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px 25px 25px 25px;
    background-color: #fff;
    box-sizing: border-box;
}
#solution section.wrapper div.bottom ul li h4{
    color: #263555;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
#solution section.wrapper div.bottom ul li div.item{
    display: flex;
    align-items: baseline;
    margin-bottom: 15px;
}
#solution section.wrapper div.bottom ul li div.item:last-child{
  margin-bottom: 0;
}
#solution section.wrapper div.bottom ul li div.item i {
    background-color: #F1F5FB;
    color: #263555;
    padding: 10px;
    border-radius: 50px;
    margin-right: 15px; 
}
#solution section.wrapper div.bottom ul li div.item p{
    color: #263555;
    font-size: 21px;
}
#bussiness{
    padding: 110px 0 242px 0;
}
#bussiness section.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#bussiness section.wrapper div.left{
    width: 38%;
}
#bussiness section.wrapper div.left div.top h2 {
    color: #233253;
    font-size: 44px;
    font-weight: bold;
}
#bussiness section.wrapper div.left div.top p{
    color: #233253;
    font-size: 22px;
    margin: 20px 0 30px 0;
}
#bussiness section.wrapper div.left div.bottom div.item{
    display: flex;
    align-items: baseline;
    margin-bottom: 15px;
}
#bussiness section.wrapper div.left div.bottom div.item i{
    background-color: #F1F5FB;
    color: #263555;
    padding: 10px;
    border-radius: 50px;
    margin-right: 15px; 
}
#bussiness section.wrapper div.left div.bottom div.item p{
    color: #263555;
    font-size: 21px;
}
#bussiness section.wrapper div.left div.bottom a.button{
    display: inline-block;
    padding: 15px 37px;
    background-color: #FEEDE7;
	border-radius: 30px;
    color: #FF4802;
    font-size: 20px;
    font-weight: bold;
    margin-top: 55px;
}
#bussiness section.wrapper div.right{
    position: relative;
    width: 36%;
}
#bussiness section.wrapper div.right div.container{
    width: 75%;
}
#bussiness section.wrapper div.right div.container img{
    width: 100%;
    box-shadow: 56px 61px 44px rgba(0, 0, 0, 0.1);
    display: block;
}
/* #bussiness section.wrapper div.right::after{
    position: absolute;
    left: 143px;
    bottom: 240px;
    content: "";
    border-radius: 50%;
    width: 110%;
    height: 79%;
    background-color: #F5FAFE;
    z-index: -1;
} */
#expand {
    padding-bottom: 110px;
}
#expand section.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#expand section.wrapper div.left{
    width: 41%;
}
#expand section.wrapper div.left img{
    width: 100%;
    display: block;
}
#expand section.wrapper div.right{
    width: 45%;
}
#expand section.wrapper div.right div.top h2 {
    color: #233253;
    font-size: 44px;
    font-weight: bold;
}
#expand section.wrapper div.right div.top p{
    color: #233253;
    font-size: 22px;
    margin: 20px 0 30px 0;
}
#expand section.wrapper div.right div.bottom div.item{
    display: flex;
    align-items: baseline;
    margin-bottom: 15px;
}
#expand section.wrapper div.right div.bottom div.item i{
    background-color: #F1F5FB;
    color: #263555;
    padding: 10px;
    border-radius: 50px;
    margin-right: 15px; 
}
#expand section.wrapper div.right div.bottom div.item p{
    color: #263555;
    font-size: 21px;
}
#expand section.wrapper div.right div.bottom a.button{
    display: inline-block;
    padding: 15px 21px;
    background-color: #FEEDE7;
	border-radius: 30px;
    color: #FF4802;
    font-size: 20px;
    font-weight: bold;
    margin-top: 22px;
}
#customers{
    background-color: #F5FAFE;
    padding: 110px 0 110px 0;
}
#customers section.wrapper div.top{
    text-align: center;
}
#customers section.wrapper div.top h2{
    color: #233253;
    font-size: 44px;
    font-weight: bold;
}
#customers section.wrapper div.top p{
    color: #233253;
    font-size: 22px;
    margin: 20px 0 54px 0;
}
#customers section.wrapper div.bottom{
    text-align: center;
}
#customers section.wrapper div.bottom ul{
    display: flex;
    justify-content: space-between;
}
#customers section.wrapper div.bottom ul li{

}
#customers section.wrapper div.bottom ul li span.count {
    color: #233253;
    font-size: 40px;
    font-family:'Work Sans Regular';

}
#customers section.wrapper div.bottom ul li h5{
    color: #233253;
    font-size: 22px;
    font-family:'Work Sans Regular';
}
#payment{
    padding: 110px 0 110px 0;
    text-align: center
}
#payment section.wrapper h2{
    color: #233253;
    font-size: 44px;
    font-weight: bold;
}
#payment section.wrapper p{
    color: #233253;
    font-size: 22px;
    margin: 30px 0 30px 0;
}
#payment section.wrapper a.button{
    padding: 15px 34px;
    background-color: #FF4802;
    border-radius: 35px;
    color: #fff;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
}
footer{
}
footer section.wrapper div.top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 110px;
    border-bottom: 1px solid #d4d6da;
}
footer section.wrapper div.top div.item{

}
footer section.wrapper div.top h4{
    color: #263555;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}
footer section.wrapper div.top div.item ul{

}
footer section.wrapper div.top div.item ul li{
    margin-bottom: 20px;
}
footer section.wrapper div.top div.item ul li:last-child{
    margin-bottom: 0;
}
footer section.wrapper div.top div.item ul li a{
    display: inline-block;
    color: #263555;
    font-size: 21px;
    
}
footer section.wrapper div.top div.item div.icons{
    display: flex;
    margin-bottom: 58px;
}
footer section.wrapper div.top div.item div.icons a{
    color: #000;
    margin-right: 20px;
}
footer section.wrapper div.top div.item div.icons a:last-child{
    margin-right: 0;
}
footer section.wrapper div.top div.item div.icons a i{
    font-size: 28px;
}
footer section.wrapper div.top div.item div.buttons a.button1{
    display: inline-block;
    padding: 25px 81px;
    border-radius: 30px;
    background-image: url(../images/play.png);
    background-size: cover;
    margin-right: 15px;
}
footer section.wrapper div.top div.item div.buttons a.button2{
    display: inline-block;
    padding: 25px 81px;
    border-radius: 30px;
    background-image: url(../images/apple.png);
    background-size: cover;
}
footer section.wrapper div.bottom p{
    color: #263555;
    font-size: 22px;
    text-align: center;
    padding: 30px 0 30px 0;
}
@media all and (max-width: 1980px){
    header span.menu-icon{
        display: none;
    }
}
@media all and (max-width: 1280px){
    header nav.right ul li {
        margin-right: 10px;
    }
    #brands section.wrapper div.top p {
        font-size: 28px;
    }
    #bussiness section.wrapper div.right::after {
        bottom: 227px;
    }
}
@media all and (max-width: 980px){
    header nav.right{
        display: none;
    }
    header span.menu-icon{
        display: block;
        width: 32px;
        height: 32px;
        cursor: pointer;
        top: 38px;
        position: absolute;
        right: 45px;
    }
    #service section.wrapper ul li {
        width: 28%;
    }
    #about section.wrapper ul li.zoom {
        width: 48%;
    }
    #solution section.wrapper div.bottom ul{
        flex-wrap: wrap;
        justify-content: center;    
    }
    #solution section.wrapper div.bottom ul li {
        width: 48%;
    }
    #about section.wrapper ul li.zoom:nth-child(4){
        margin-bottom: 30px;
    }
    #solution section.wrapper div.bottom ul li:last-child{
        margin-top: 25px;
    }
    #bussiness section.wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
    #bussiness section.wrapper div.left {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    #bussiness section.wrapper div.right::after {
        bottom: 233px;
        left: 97px;
    }
    #bussiness section.wrapper div.right::after {
        bottom: 168px;
        left: 68px;
    }
    #bussiness section.wrapper div.right div.container{
        width: 100%;
    }
    #bussiness section.wrapper div.left {
        margin-bottom: 85px;
    } 
    #customers section.wrapper div.bottom ul li span.count {
        font-size: 33px;
    }
    #customers section.wrapper div.bottom ul li h5 {
        font-size: 20px;
    }
    #payment section.wrapper h2 {
        font-size: 40px;
    }
    #payment section.wrapper a.button {
        padding: 8px 52px;
    }
    footer section.wrapper div.top div.item ul li a {
        font-size: 15px;
    }
}
@media all and (max-width: 768px){
    #spotlight{
        text-align: center;
    }
    #spotlight section.wrapper h1 {
        font-size: 50px;
    }
    #service{
        text-align: center;
    }
    #service section.wrapper ul li span {
        margin: 0 auto;
    }
    #service section.wrapper ul {
        justify-content: center;
        flex-wrap: wrap;
    }
    #service section.wrapper ul li{
        width: 50%;
    }
    #service section.wrapper ul li:last-child{
        margin-top: 25px;
    }
    #about section.wrapper ul li.zoom {
        width: 100%;
    }
    #about section.wrapper ul li.zoom:nth-child(5) {
        margin-bottom: 30px;
    }
    #bussiness section.wrapper div.right::after {
        bottom: 132px;
    }
    #solution section.wrapper div.bottom ul li {
        width: 100%;
    }
    #solution section.wrapper div.bottom ul li {
        margin-bottom: 25px;
    }
    #solution section.wrapper div.bottom ul li:last-child{
       margin-top: 0;
       margin-bottom: 25px;
    }
    #brands section.wrapper div.bottom ul {
        flex-wrap: wrap;
        margin-top: 25px;
    }
    #brands section.wrapper div.bottom ul li {
        width: 26%;
    }
    #expand section.wrapper {
        flex-wrap: wrap;
    }
    #expand section.wrapper div.left {
        width: 100%;
    }
    #expand section.wrapper div.right {
        width: 100%;
    }
    #expand section.wrapper div.right div.top{
        text-align: center;
    }
    #customers section.wrapper div.bottom ul {
        flex-wrap: wrap;
    }
    #customers section.wrapper div.bottom ul li{
        width: 50%;
        margin-bottom: 25px;
    }
    #customers section.wrapper div.bottom ul li:nth-child(3){
        margin-bottom: 0;
    }
    #customers section.wrapper div.bottom ul li:nth-child(4){
        margin-bottom: 0;
    }
    footer section.wrapper div.top {
        flex-wrap: wrap;
    }
    footer section.wrapper div.top div.item{
        width: 50%;
        margin-bottom: 25px;
    }
    footer section.wrapper div.top div.item:nth-child(3){
        margin-bottom: 0;
    }
    footer section.wrapper div.top div.item:nth-child(4){
        margin-bottom: 0;
    }
    footer section.wrapper div.top div.item div.icons{
        display: block;
    }
    footer section.wrapper div.top div.item div.buttons a.button1{
        padding: 17px 56px;
    }
    footer section.wrapper div.top div.item div.buttons a.button2{
        padding: 17px 56px;
    }
    footer section.wrapper div.bottom p {
        font-size: 20px;
    }
}
@media all and (max-width: 640px){
    #service section.wrapper ul li {
        width: 100%;
        margin-bottom: 25px;
    }
    #service section.wrapper ul li:last-child{
        margin-top: 0;
        margin-bottom: 25px;
    }
    #bussiness section.wrapper div.right::after {
        bottom: 106px;
    }
}
@media all and (max-width: 480px){
    #brands section.wrapper div.top p {
        font-size: 24px;
    }
    #brands section.wrapper div.bottom h3 {
        font-size: 38px;
    }
    #brands section.wrapper div.bottom ul {
        flex-wrap: wrap;
    }
    #brands section.wrapper div.bottom ul li{
        width: 26%;
    }
    #customers section.wrapper div.bottom ul li h5 {
        font-size: 15px;
    }
    #customers section.wrapper div.bottom ul li span.count {
        font-size: 30px;
    }
    #bussiness section.wrapper div.right::after {
        bottom: 82px;
    }
    #payment section.wrapper h2 {
        font-size: 36px;
    }
    footer section.wrapper div.top div.item{
        width: 51%;
        margin-bottom: 25px;
    }
    footer section.wrapper div.top div.item:nth-child(3){
        margin-bottom: 25px;
    }
   
}
@media all and (max-width: 360px){
    #spotlight section.wrapper h1 {
        font-size: 40px;
    }
    #spotlight section.wrapper a.button {
        padding: 15px 30px;
    }
    #about section.wrapper ul li.zoom h4 {
        font-size: 22px;
    }
    #about section.wrapper ul li.zoom p{
        font-size: 15px;
    }
    #solution section.wrapper div.top h2 {
        font-size: 36px;
    }
    #solution section.wrapper div.top p{
        font-size: 20px;
    }
    #customers section.wrapper div.bottom ul li span.count {
        font-size: 25px;
    }
    #bussiness section.wrapper div.left div.top h2 {
        font-size: 36px;
    }
    #bussiness section.wrapper div.left div.top p{
        font-size: 20px;
    }
}